.job-grid-addon-execution {
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-shadow: #fff 0 1px 1px, #fff 0 1px 2px;
    padding: 0;
    height: 6em;
}

.job-grid-addon-execution:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}
