.job-grid-addon-specification {
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    height: 92px;
}

.job-grid-addon-specification:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}